<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Sub Groups </h1>
					
				
<span style="color:black; display:block;">var listgroup1sub1=group1.GetSubGroupsName();</span>
					
		</br>			
                </div>
                <!-- /.col-lg-12 -->
            </div>
			
            <!-- /.row -->
	
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                       
                        <!-- /.panel-heading -->
                        <div class="panel-body">
								 <div >
        <div class="row">
            <div >
                <div >
                    
                    <div >
                        <form action="/Sub_Groups1" method="get" role="form">
                            <fieldset>
                               <table >
                                <thead>
                                    <tr>
                                        <th>
								<label>Selects</label>
							
								
									
            <select id="groupselected" name="groupselected" >
			<%   for (Iterator in Groups){ 
				var object= Groups[Iterator];
				if(selected==Iterator)
				{				
			%>
            <option  value=<%=Iterator%> selected><%=object%></option>
			<% }else{ %>
			<option value=<%=Iterator%> ><%=object%></option>
			<% } %>
			<% } %>
            </select>
			
			
								</th>
								<div><th width="10"></th></div>
								<th>
                              <button type="submit" class="btn btn-success">Validate</button>
							  
								
								</th>
								</tr>
								</thead>
                                 </table>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
					
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Id</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
									
									<%   for (Iterator1 in groupliste){ 
											var objectgroup= groupliste[Iterator1];
														
									%>
                                    <tr class="gradeA">
                                        <td><%=objectgroup.GetName()%></td>
                                        <td><%=objectgroup.getid()%></td>
                                        
                                    </tr>
                                    
                                   	<% } %>
                                  
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
       
        </div>
		


<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
 
	
	